$turquoise: #48dbdf;
$white: #fff;
$linkWater: #D7E4F1;
$athensGray: #F5F7F9;
$danube: #6195C7;
$seaPink: #EEA4A4;
$black: #000;
$tundora: #434343;
$rollingStone: #7A848B;
$alto: #dddddd;
$shamrock: #38cca4;
$shamrock: #3CC8A2;
$tropicalBlue: #c0dbf6;
$Madison: #0C3C6B;
//$Endeavour:#075aa9;
$Endeavour: #0357a8;
$Sunglo: #e26767;
$FairPink: #ffe8e8;
$spindle: #bfd5e9;
$OffGreen: #DFF7EC;
$Bittersweet: #ff6363;
$MorningGlory: #91B8DC;
$AliceBlue: #EFF7FF;
$DoveGray: #707070;
$TowerGray: #AEB8BE;
$SlateGray: #7A8492;
$PastelGreen: #8CE17C;
$Bombay: #AFB5B9;
$AlmondFrost: #F1F4F8;
$Boulder: #777777;
$CodGray: #131313;
$AliceBlues: #F3F9FF;
$scorpion: #5a5a5a;
$TwilightBlue: #ecfbff;
$Red: #FF0000;
$Carnation: #F96060;
$Koromiko: #FFB563;
$Gallery: #EFEFEF;
$Hoki: #62819f;
$LinkWater: #E4EDF6;
$Mystic: #DDE3E9;
// $HavelockBlue: #3F8BD5;
$Casper: #A5B7C9;
$WildSand: #f6f6f6;
$AthensGray: #e4e7eb;
$Trout: #495057;
$Mercury: #E4E4E4;
$Concrete: #F3F3F3;
$Azure: #306DA7;
$Submarine: #B6BCC4;
$QuarterSpanishWhite: #F7ECDF;
$Porsche: #E5A863;
$Punch: #DC3545;
$Silver: #CCCCCC;
$Iron: #e2e4e7;
$SilverChalice: #A5A5A5;
$Malibu: #80BDFF;
// $Geyser: #DDE2E7;
$Scorpion: #5F5F5F;
$Geyser: #cdd7e1;
$RollingStone: #757e85;
$Zumthor: #EBF5FF;
$Loblolly: #C4CAD0;
$BlizzardBlue: #B1D0EF;
$AthensGray: #F5F7F9;
$DodgerBlue: #2B94F9;
$Bittersweet: #FF6363;
$TanHide: #fb9c54;
$MonaLisa: #ff9999;
$Concrete: #F2F2F2;
$PattensBlue: #D5EAFF;
$OsloGray: #898D91;
$HavelockBlue: #3F8CD6;
$HawkesBlue: #CCE4FB;
$ScarpaFlow: #565264;
$RiverBed: #46505a;
$Nepal: #88A2BC;
$CatskillWhite: #E3EBF3;
$PoloBlue: #7FA8D1;
$Iceberg: #E5F3F7;
$BrightTurquoise: #11E4EA;
$Alabaster: #F7F7F7;
$AlabasterSolid: #fafafa;
$lightBlue: #18d4d9;
$AzureRadiance: #007BFF;
$BlueChalk: #F2DFFF;
$Wisteria: #8E59B4;
$Scooter: #24C3E2;
$WhiteIce: #D5F2F8;
$moovLight: #F0E0FD;
$LightGrey: #DFDFDF;
$seafoam-blue: #6cb7cc;
$grapefruit: #ff6363;
$ice-blue: #f3f9ff;
$Anakiwa: #a5d3ff;
$Denim: #1773cc;
$Ming: #3B5F82;
$Shark: #212529;
$Cosmos: #FFD8D8;
$Seashell: #f1f1f1;
$GreenVogue: #05305b;
$FuelYellow: #eeb826;
$Studio: #8f58b5;
$Mercury: #e2e2e2;
$Keppel: #3db39e;
$Carissma: #ea83b5;
$CornflowerBlue:#5fa3f3;
$Keppel: #3db39e;

$Shark: #212529;
$Cosmos: #FFD8D8;
$Seashell: #f1f1f1;
$GreenVogue: #05305b;
$FuelYellow: #eeb826;
$Studio: #8f58b5;
$Mercury: #e2e2e2;
$Keppel: #3db39e;
$Carissma: #ea83b5;
$CornflowerBlue:#5fa3f3;
$Keppel: #3db39e;
$SilverChalice: #9e9e9e;
$Shark: #212529;
$Cosmos: #FFD8D8;
$Seashell: #f1f1f1;
$GreenVogue: #05305b;
$FuelYellow: #eeb826;
$Studio: #8f58b5;
$Mercury: #e2e2e2;
$Keppel: #3db39e;
$Carissma: #ea83b5;
$CornflowerBlue:#5fa3f3;
$SilverChalice: #9e9e9e;
